/* General body styling */
body {
    justify-content: center;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0; /* Ensure no default body margin */
    padding: 0; /* Ensure no default body padding */
}

/* Title styling */
#title {
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

/* Subtitle styling */
#subtitle {
    border-radius: 10px;
    padding: 20px;
    color: lightgreen;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Input styling */
#input {
    padding: 15px;
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0; /* Ensure no default input margin */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Button styling */
#button {
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
}

/* Result div styling */
#result {
    font-size: 1.5em;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

/* Reset button styling */
#resetButton {
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

/* Navigation bar styling */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0; /* Ensure no default ul margin */
    padding: 0; /* Ensure no default ul padding */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: cornsilk;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    text-decoration: none;
}

/* Main content styles */
main {
    margin: 20px auto;
    max-width: 800px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

/* Acronym list container styling */
#acronymListContainer {
    margin-bottom: 20px;
}

#acronymListContainer ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Ensure no default ul margin */
}

#acronymListContainer li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: antiquewhite;
}

/* Pagination styling */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

#pagination span {
    font-weight: bold;
}

/* Sort button styling */
#sortDescBtn {
    margin-left: 20px;
}

/* Recent searches dropdown styling */
#recentSearchesLink {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

#suggestionItem {
    background-color: slateblue;
    position: absolute;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    left: 0;
    margin: 0; /* Ensure no default div margin */
    padding: 0; /* Ensure no default div padding */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    cursor: pointer;
}

/* Remove margin between input and suggestions */
#input:focus + #suggestionItem {
    margin-top: -1px;
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    width: 150px;
    padding: 10px 0;
    border-radius: 5px;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content li {
    padding: 10px;
    background-color: burlywood;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: darkslategrey;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
